.App {
  width: 100vw;
  height: 100vh;
  background: rgb(255, 214, 221);
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}

body {
  margin: 0%;
  padding: 0%;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  width: 700px;
  background-color: white;
  border-radius: 20px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  justify-content: space-around;
}

.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatWelcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 30%;
  margin: 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  background-color: rgb(255, 214, 221);
}

select {
  width: 224px;
  padding: 10px 15px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  appearance: none; /* This disables the default styling for select in most browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

/* Styling for arrow down icon */
select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px top 50%, #fff;
  background-size: 12px;
}

.joinChatWelcome img {
  margin-top: 10px;
}

.joinChatWelcome p {
  font-size: 50px;
  margin-left: 20px;
  font-weight: bold;
}

.joinChatContainer button {
  width: 90%;
  height: 20%;
  margin: 7px;
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-size: 45px;
  font-weight: bold;
  background: #cbf8b0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  cursor: pointer;
  border-width: 10px;
  border-style: solid;
  border-color: #000000;
}

.joinChatContainer button:hover {
  background: #baf797;
}

.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.chat-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 20px;
  border-radius: top
}

.chat-body {
  height: 420px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  min-width: 40px;
  max-width: 300px;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
  margin-right: 10px;
}

#you .message-content {
  background-color: #ff8fe6;
  justify-content: flex-end;
}

.message-meta {
  display: flex;
  justify-content: space-between;
}

#you .message-meta #time{
  justify-self: flex-start;
}

#you .message-meta #author{
  justify-self: flex-end;
  font-weight: bold;
}

#other {
  justify-content: flex-start;
  margin-left: 10px;
}

#other .message-content {
  justify-content: flex-start;
  background-color: #cbf8b0;
}

#other .message-meta #author {
  justify-self: flex-start;
  font-weight: bold;
}

#other .message-meta #time {
  justify-self: flex-end;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-footer {
  height: 100px;
  border: 10px solid white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(241, 241, 241);
}

.chat-footer input {
  flex: 90%;
  background-color: rgb(241, 241, 241);
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-radius: 10px;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #cbf8b0;
}

.hide {
  opacity: 0 !important;
}